/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* CSS for Global*/
/* :root {
	--webd-toolbar-height: 3.75rem
} */

/* CSS for React Elements*/
/* #block-pallete {
	min-width: 200px;
	margin-top: var(--webd-toolbar-height)
}

#tab-editor {
	margin-top: var(--webd-toolbar-height)
} */

/* #tool-bar {
	height: var(--webd-toolbar-height);
} */